html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  background-color: #333;
}
nav ul {
  list-style: none; /* Quita viñetas */
  margin: 0;
  padding: 0;
  display: flex; /* Menú horizontal */
}
nav ul li {
  margin: 0;
}
nav ul li a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}
nav ul li a:hover {
  background-color: #575757;
}
/* Página activa */
nav ul li a.active {
  background-color: #04aa6d;
}
